.monument {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.monument__photo {
  position: relative;
  height: 500px;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 50%
  );
}

.monument__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.monument__description {
  text-wrap-style: balance;
  text-align: center;
  color: #fff;
  bottom: 0px;
  padding: 5px;
  position: absolute;
  font-size: 1rem;
}

.monument__data {
  display: flex;
  align-items: end;
  gap: 10px;
}

.monument__data-name {
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.monument__data-location {
  font-size: 1rem;
  text-align: end;
  padding-right: 8px;
}
