.monument {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.monument__photo {
  position: relative;
}

.monument__photo-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #ffffff8e 0%, #ffffff8e 30%, #0000 40%);
}

.monument__image {
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 5px 1px #00000029;
}

.monument__delete-button {
  font-size: 1.3rem;
  font-weight: 400;
  position: absolute;
  right: 5px;
  top: 5px;

  &:hover {
    color: #ff0000;
  }

  &:active {
    transition: 0.1s;
    scale: 1.2;
  }
}

.monument__description {
  text-wrap-style: balance;
  text-align: center;
  color: #000000;
  bottom: 0px;
  padding: 10px;
  position: absolute;
  font-size: 1rem;
}

.monument__data {
  display: flex;
  align-items: end;
  gap: 10px;
}

.monument__data-name {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.monument__data-location {
  font-size: 1rem;
  text-align: end;
  padding-right: 8px;
}
